*{
    margin: 0;
    padding: 0;
}

/*header*/
header {
    height: 80px;
    background-color: rgb(19, 19, 54);
    color: rgb(248, 56, 136);
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(93, 93, 126);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 30px;
}

#icon {
    width: 100px;
    height: auto;
}


#logout {
    width: 90px;
    height: 45px;
    border-radius: 15px;
    background-color: rgb(248, 56, 136);
    border: none;
    color: rgb(19, 19, 54);
    font-size: 16px;
    font-weight: 700;
    align-self: center;
    justify-self: end;
    margin-right: 20px;
}


.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 2fr;
}

.welcomeBack {
    grid-column-start: 1;
    grid-column-end: 3;
    border: solid;
}

.hidden {
    display: none;
}