*{
    margin: 0;
    padding: 0;
}

/*header*/

#icon {
    width: 100px;
    height: auto;
}

header {
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#logout {
    width: 90px;
    height: 40px;
    align-self: center;
    justify-self: end;
    margin-right: 20px;
}


.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 2fr;
}

.welcomeBack {
    grid-column-start: 1;
    grid-column-end: 3;
    border: solid;
}

.hidden {
    display: none;
}