* {
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 11fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(19, 19, 54);
    color: rgb(248, 56, 136);
    padding: 20px;
}

#heading {
    font-size: 40px;
}

#tagline {
    grid-row-start: 2;
    background-color: rgb(120, 224, 255);
    grid-column: span 3;
    text-align: center;
    color: rgb(248, 56, 136);
    padding: 5px;
}

.signup,
.login {
    width: 90px;
    height: 45px;
    border-radius: 20px;
    background-color: rgb(248, 56, 136);
    border: none;
    color: rgb(19, 19, 54);
    font-size: 16px;
    font-weight: 700;
}

.signup:hover,
.login:hover {
    background-color: rgb(120, 224, 255);
    cursor: pointer;
}