* {
    margin: 0;
    padding: 0;
}
/*header*/
header {
    display: grid;
    grid-template-columns: 11fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: rgb(19, 19, 54);
    color: rgb(248, 56, 136);
    padding: 10px;
}

#heading {
    font-size: 40px;
}

#tagline {
    grid-row-start: 2;
    background-color: rgb(19, 19, 54);
    font-size: 13px;
    color: rgb(248, 56, 136);
}

.signup,
.login {
    width: 90px;
    height: 45px;
    border-radius: 20px;
    background-color: rgb(248, 56, 136);
    border: none;
    color: rgb(19, 19, 54);
    font-size: 16px;
    font-weight: 700;
    align-self: center;
    justify-self: center;
    grid-row: span 2;
}

.signup:hover,
.login:hover {
    background-color: rgb(120, 224, 255);
    cursor: pointer;
}

/*footer*/
.footer {
    background-color: rgb(19, 19, 54);
    color: rgb(248, 56, 136);
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-self: baseline;
    padding: 60px;
    font-size: 12px;
}

a:link {
    color: rgb(120, 224, 255);
  }
  
  a:visited {
    color: rgb(120, 224, 255);
  }

  a:hover {
    color: rgb(248, 56, 136);

  }

.footerText {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;

}
/*info*/
.info {
    background: url("engin-akyurt-y-8f3ENnb1g-unsplash.jpg");
    padding: 280px;
    color: white;
    font-size: 25px;
    text-align: center;
}

/*reviews*/
.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    padding-bottom: 50px;
    padding-top: 50px;
}

.review1,
.review2,
.review3 {
    border: solid;
    border-color: rgb(120, 224, 255);
    border-radius: 20px;
    height: 400px;
    width: 400px;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    background-color: rgb(245, 244, 244);
}

.reviewHeading {
    grid-column: span 3;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    color: rgb(248, 56, 136);
    font-weight: 800;
    border-bottom: solid;
    margin-bottom: 20px;
}

.person {
    align-self: self-start;
    justify-self: end;
    padding: 10px;
    font-weight: 900;
    color: rgb(248, 56, 136);

}

.contentReview {
    align-self: center;
    font-size: 23px;
    color: rgb(19, 19, 54);
    padding: 15px;
}

/*choose us*/
.whyUs {
    background-color: rgb(19, 19, 54);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

#piggyIcon {
    grid-row-start: 1;
    grid-row-end: 4;
    justify-self: center;
}
.chooseUsHeading {
    font-weight: 700;
    font-size: 20px;
    align-self: center;
}

.reason {
    font-size: 18px;
    margin-bottom: 10px;
}

.signup2{
    width: 90px;
    height: 45px;
    border-radius: 20px;
    background-color: rgb(248, 56, 136);
    border: none;
    color: rgb(19, 19, 54);
    font-size: 16px;
    font-weight: 700;

}

.signup2:hover{
    background-color: rgb(120, 224, 255);
    cursor: pointer;
}

.funFact {
    padding: 150px;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: rgb(248, 56, 136);

}